{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Features</h1>
  <p class="lead">This is a simple web interface to manage <strong>Point cloud</strong> scans and places where it has been catched</p>
  <hr class="my-1">
  <h2>Places</h2>
  <p>This feature give you the possibilité to locate where the points clouds are catched. This is for a better data management</p>
  <h2>Scans</h2>
  <p>This is the core feature to create point clouds</p>
  <h2>Rendering</h2>
  <p>Will come later</p>
{% endblock content %}