.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}



header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 25px 20px 40px;
}

h1 {
    font-size: 16pt;
}

header , header a, header {
    color: #ffffff;
    font-size: 26pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

header, nav, h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

