{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block title %}Scan cave places{% endblock %}

{% block head %}
	{{block.super}}
	{% leaflet_js plugins="ALL" %}
	{% leaflet_css plugins="ALL" %}
	<style type="text/css">
		#gis  {width: 80%;height: 780px;}
	</style>
{% endblock %}

{% block content %}
	<h1>Scan cave places</h1>
	<br>
	<script type="text/javascript">

		function location_layer(map, options){
			var radarIcon = L.icon({
				iconUrl: '{% static 'icon/radar2.svg' %}',
				iconSize: [32, 37],
				iconAnchor: [16, 37],
				popupAnchor: [0, -28]
			});
			var datasets = new L.GeoJSON.AJAX("{% url 'places' %}",{
				pointToLayer: function (feature, latlng) {
				return L.marker(latlng, {
						icon: radarIcon
					});
				},
				onEachFeature : function(feature, layer){
					layer.bindPopup(feature.properties.name.toString());
				}
			});
			var locate = L.control.locate({
		        drawCircle: false,
		        icon: "fa fa-location-arrow",
		        position : 'topright',
		        maxZoom: 4,
		        strings: {
		        	title: "Show My Location"
		        }
		    });

			locate.addTo(map);
			datasets.addTo(map);
		}

	</script>
{% leaflet_map "gis" callback="window.location_layer" %}

{% endblock content %}