{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% load crispy_forms_tags %}

{% block title %}Scan cave places{% endblock %}

{% block head %}
	{{block.super}}
	{% leaflet_js plugins="ALL" %}
	{% leaflet_css plugins="ALL" %}
	<style type="text/css">
		#gis  {width: 80%;height: 780px;}
	</style>
{% endblock %}

{% block content %}
<h1>Create new scan</h1>
<br>
<form method="post" action="" novalidate>
	{% csrf_token %}
	{{ form|crispy }}

	<script type="text/javascript">
		function location_layer(map, options){
			var locate = L.control.locate({
				drawCircle: false,
				icon: "fa fa-location-arrow",
				position : 'topright',
				maxZoom: 4,
				strings: {
					title: "Show My Location"
				}
			});
			locate.addTo(map);
		}
	</script>
	
	<button type="submit" class="btn btn-success">Save place</button>
</form>

{% endblock %}