{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block title %}Scan cave places{% endblock %}

{% block content %}
	<h1>Create new scan</h1>
	<br>
	<form method="post" action="">
		{% csrf_token %}
		{{ form.as_p }}
	<script type="text/javascript">
		function location_layer(map, options){
			var locate = L.control.locate({
				drawCircle: false,
				icon: "fa fa-location-arrow",
				position : 'topright',
				maxZoom: 4,
				strings: {
					title: "Show My Location"
				}
			});
			locate.addTo(map);
		}
	</script>
	
	<input type="submit"/>

{% endblock content %}