{% extends "base.html" %}
{% load leaflet_tags %}

{% block head %}
    {{block.super}}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <style type="text/css">
        #gis  {width: 80%;height: 780px;}
    </style>
{% endblock %}

{% block content %}

<div>
	<h1>{{ place.name }} <span class="small"></span></h1>
	{% leaflet_map "main" callback="map_init" %}
</div>

<p class="date">{{ place.date|date:"DATE_FORMAT" }}</p>
<p class="description">{{ place.description|linebreaks }}</p>

<script type="text/javascript">
    function map_init(map, options) {
        // get point lat and lon
        var lon = "{{ place.location.x }}".replace(",", ".");
        var lat = "{{ place.location.y }}".replace(",", ".");
        // zoom to point & add it to map
        map.setView([lat, lon], 12);
        L.marker([lat, lon]).addTo(map);
    }
</script>

<a href="{% url "place_update" place.pk %}">Update</a> - 
<a href="{% url "place_delete" place.pk %}">Delete</a>

{% endblock content %}



