<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
	<title>{% block title %}{% endblock %}</title>
	{% leaflet_js plugins="ALL" %}
	{% leaflet_css plugins="ALL" %}
	<style type="text/css">
		#gis #id_location-map {width: 80%;height: 780px;}
	</style>
</head>

<header>Open Cave Map</header>
	<nav>
		<a href="{% url 'place_create' %}">New Scan</a>
		<a href="{% url 'places_list' %}">Scan List</a>
		<a href="/Scanner/">Scanner</a>
	</nav>
	<body>
		{% block content %}{% endblock content %}
	</body>
</html>