<!DOCTYPE html>
<html lang="en">
	{% load static %}
	{% load leaflet_tags %}
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
		<script src="{% static 'jquery-3.0/jquery-3.0.0.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'bootstrap-4.1.3/css/bootstrap.min.css' %}">
		<script src="{% static 'bootstrap-4.1.3/js/bootstrap.bundle.min.js' %}"></script>

		{% endblock %}
	</head>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'home' %}">Open Cave Map</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'places_list' %}">Places <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'stations_list' %}">Stations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="{% url 'scans_list' %}">Scans</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'scan_create' %}">New Scan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">SCAN NOW!</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'plot3d_scatter' %}">Cat exemple</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			{% if 'place_name' in request.session %}
			<li class="breadcrumb-item" ><a href="{% url 'place' request.session.place_id %}">{{ request.session.place_name }}</a></li>
			{% else %}
			<li class="breadcrumb-item active" aria-current="page">No Place</li>
			{% endif %}
			{% if 'station_name' in request.session %}
			<li class="breadcrumb-item" ><a href="{% url 'station' request.session.station_id %}">{{ request.session.station_name }}</a></li>
			{% else %}
			<li class="breadcrumb-item active" aria-current="page">No Station</li>
			{% endif %}
			</ol>
	</nav>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>